/* UTILITIES */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Fraunces:opsz,wght@9..144,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  background-color: #3ebfff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #3ebfff;
  color: #fff;
}
.nav-links a {
  color: white;
}
.nav-links a:hover {
  color: black;
}
/* LOGO */

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: white;
  border-radius: 20px;
  transition: 0.3s ease;
  font-weight: 900;
}
.menu li {
  padding: 10px 16px;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .img-text {
    display: none;
  }
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    margin: 25px;
    text-align: center;
    padding: 16px 0;
  }
  .nav-links a {
    color: #5a636c;
  }
  .nav-links a:hover {
    color: black;
  }
  .menu li:hover {
    font-weight: 900;
    display: inline-block;
    background-color: #fad400;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
    color: #5a636c;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
/* CREATIVE SECTION */
.img-text {
  color: white;
  position: relative;
  text-align: center;
}
.heading-text {
  position: absolute;
  top: 0;
  left: 38%;
  font-weight: bolder;
  letter-spacing: 3px;
}
.heading-text > h1{
    font-weight: bolder;
}
.headingH2{
    font-weight: bolder;
    font-size: 45px;
}
.learn{
    font-weight: bolder;
    border-bottom: #fad400 solid 1px;
    width: 25%;  
}

.arrow {
  position: absolute;
  left: 50%;
}
.text-top{
    bottom: 15px;

  
}
